1.Download the dataset

2.Import required library

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.models import Model
from keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding
from keras.optimizers import RMSprop
from keras.preprocessing.text import Tokenizer
from keras_preprocessing import sequence
from keras.utils import to_categorical
from keras.models import load_model

3.Read Dataset and do preprocessing

In [2]:
df = pd.read_csv('spam.csv',delimiter=',',encoding='latin-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],axis=1,inplace=True) #dropping unwanted columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [4]:
# Count of Spam and Ham values
df.groupby(['v1']).size()

v1
ham     4825
spam     747
dtype: int64

In [5]:
# Label Encoding target column
X = df.v2
Y = df.v1
le = LabelEncoder()
Y = le.fit_transform(Y)
Y = Y.reshape(-1,1)

In [6]:
# Test and train split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.15)

In [7]:
# Tokenisation function
max_words = 1000
max_len = 150
tok = Tokenizer(num_words=max_words)
tok.fit_on_texts(X_train)
sequences = tok.texts_to_sequences(X_train)

sequences_matrix = sequence.pad_sequences(sequences,maxlen=max_len)

4.Create Model and 5. Add Layers (LSTM, Dense-(Hidden Layers), Output)

In [8]:
# Creating LSTM model
inputs = Input(name='InputLayer',shape=[max_len])
layer = Embedding(max_words,50,input_length=max_len)(inputs)
layer = LSTM(64)(layer)
layer = Dense(256,name='FullyConnectedLayer1')(layer)
layer = Activation('relu')(layer)
layer = Dropout(0.5)(layer)
layer = Dense(1,name='OutputLayer')(layer)
layer = Activation('sigmoid')(layer)

6.Compile the model

In [9]:
model = Model(inputs=inputs,outputs=layer)
model.summary()
model.compile(loss='binary_crossentropy',optimizer=RMSprop(),metrics=['accuracy'])

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 InputLayer (InputLayer)     [(None, 150)]             0

 embedding (Embedding)       (None, 150, 50)           50000

 lstm (LSTM)                 (None, 64)                29440

 FullyConnectedLayer1 (Dense  (None, 256)              16640
 )

 activation (Activation)     (None, 256)               0

 dropout (Dropout)           (None, 256)               0

 OutputLayer (Dense)         (None, 1)                 257

 activation_1 (Activation)   (None, 1)                 0

=================================================================
Total params: 96,337
Trainable params: 96,337
Non-trainable params: 0
_________________________________________________________________

7.Fit the Model

In [10]:
model.fit(sequences_matrix,Y_train,batch_size=128,epochs=10,
          validation_split=0.2)

Epoch 1/10
30/30 [==============================] - 13s 337ms/step - loss: 0.3291 - accuracy: 0.8757 - val_loss: 0.1372 - val_accuracy: 0.9673
Epoch 2/10
30/30 [==============================] - 8s 272ms/step - loss: 0.0842 - accuracy: 0.9797 - val_loss: 0.0673 - val_accuracy: 0.9842
Epoch 3/10
30/30 [==============================] - 8s 258ms/step - loss: 0.0433 - accuracy: 0.9881 - val_loss: 0.0684 - val_accuracy: 0.9842
Epoch 4/10
30/30 [==============================] - 8s 261ms/step - loss: 0.0346 - accuracy: 0.9897 - val_loss: 0.0645 - val_accuracy: 0.9842
Epoch 5/10
30/30 [==============================] - 9s 285ms/step - loss: 0.0253 - accuracy: 0.9926 - val_loss: 0.0862 - val_accuracy: 0.9842
Epoch 6/10
30/30 [==============================] - 8s 256ms/step - loss: 0.0219 - accuracy: 0.9942 - val_loss: 0.0778 - val_accuracy: 0.9842
Epoch 7/10
30/30 [==============================] - 8s 257ms/step - loss: 0.0172 - accuracy: 0.9950 - val_loss: 0.0815 - val_accuracy: 0.9842
Epoch 8/10
30/30 [==============================] - 8s 255ms/step - loss: 0.0137 - accuracy: 0.9958 - val_loss: 0.0905 - val_accuracy: 0.9810
Epoch 9/10
30/30 [==============================] - 8s 258ms/step - loss: 0.0119 - accuracy: 0.9963 - val_loss: 0.0978 - val_accuracy: 0.9831
Epoch 10/10
30/30 [==============================] - 8s 258ms/step - loss: 0.0088 - accuracy: 0.9976 - val_loss: 0.1106 - val_accuracy: 0.9831

8.Save the Model

In [11]:
model.save("model_1")

WARNING:absl:Function `_wrapped_model` contains input name(s) InputLayer with unsupported characters which will be renamed to inputlayer in the SavedModel.
WARNING:absl:Found untraced functions such as lstm_cell_layer_call_fn, lstm_cell_layer_call_and_return_conditional_losses while saving (showing 2 of 2). These functions will not be directly callable after loading.

9.Test the model

In [12]:
test_sequences = tok.texts_to_sequences(X_test)
test_sequences_matrix  = sequence.pad_sequences(test_sequences,maxlen=max_len)

In [13]:
accuracy = model.evaluate(test_sequences_matrix,Y_test)
print('Accuracy: {:0.3f}'.format(accuracy[1]))

27/27 [==============================] - 1s 22ms/step - loss: 0.0695 - accuracy: 0.9821
Accuracy: 0.982

In [14]:
y_pred = model.predict(test_sequences_matrix)
print(y_pred[25:40].round(3))

27/27 [==============================] - 1s 22ms/step
[[0.   ]
 [0.   ]
 [0.999]
 [0.   ]
 [0.   ]
 [0.   ]
 [0.   ]
 [0.   ]
 [0.   ]
 [0.   ]
 [0.   ]
 [0.   ]
 [0.   ]
 [0.   ]
 [1.   ]]

In [15]:
print(Y_test[25:40])

[[0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]]